#-----------------------------------------------------------
#	Postfix main config file
#	Create : 2014/12/18	M.Oobayashi
#	Update : 2014/12/18	M.Oobayashi
#-----------------------------------------------------------
#-----------------------------------------------------------
# base config
#-----------------------------------------------------------
receive_override_options = no_address_mappings
readme_directory = no
sample_directory = /etc/postfix
sendmail_path = /usr/sbin/sendmail
html_directory = no
setgid_group = postdrop
manpage_directory = /usr/local/man
newaliases_path = /usr/bin/newaliases
mailq_path = /usr/bin/mailq
mail_owner = postfix
allow_mail_to_commands = alias,forward,include
html_directory = no
unknown_local_recipient_reject_code = 550

message_size_limit = 51200000

#-----------------------------------------------------------
# Dir config
#-----------------------------------------------------------
queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix

#-----------------------------------------------------------
# Security
#-----------------------------------------------------------
disable_vrfy_command = yes

#-----------------------------------------------------------
# Host status
#-----------------------------------------------------------
myhostname = <%= node['hostname'] %>
mydomain = <%= node['postfix']['mydomain'] %>
mydistination =
inet_interfaces = all
home_mailbox = Maildir/

relay_domains =
		<% node['postfix']['relay_domains'].each do |rd| %>
		<%= rd %>
		<% end -%>


alias_maps = hash:/etc/aliases
transport_maps = hash:/etc/postfix/transport_maps
mynetworks =
		<% node['postfix']['mynetworks'].each do |mynet| %>
		<%= mynet %>
		<% end -%>


#-----------------------------------------------------------
# Virtual host status
#-----------------------------------------------------------
local_transport = local
virtual_transport = virtual

#-----------------------------------------------------------
# taRgrey
#-----------------------------------------------------------

# for reject unexact mail
smtpd_helo_required = yes

# for reject multi check
smtpd_restriction_classes =
	check_sender_info
	reject_client_blackip

check_sender_info =
	check_sender_access		regexp:$config_directory/check_sender_info

reject_client_blackip =
	check_client_access		hash:$config_directory/reject_client_blackip

smtpd_sender_restrictions =
	check_sender_access		regexp:$config_directory/blacklist_mailfrom


smtpd_recipient_restrictions =
	permit_mynetworks
	permit_sasl_authenticated
	reject_unauth_destination
	check_recipient_access		hash:$config_directory/whitelist_recipient
	check_client_access		hash:$config_directory/whitelist_client
	check_client_access		regexp:$config_directory/permit_client_nots25r
	reject_invalid_hostname
	reject_non_fqdn_sender
	reject_unknown_sender_domain
	reject_non_fqdn_recipient
	reject_multi_recipient_bounce
	check_helo_access		regexp:$config_directory/reject_helo
	check_sender_ns_access		hash:$config_directory/reject_ns
	check_sender_mx_access		hash:$config_directory/reject_mx
	check_sender_ns_access		regexp:$config_directory/check_ns
	check_policy_service		inet:60000
	check_policy_service		unix:private/policy
	check_client_access		regexp:$config_directory/prepend_client
	permit

smtpd_data_restrictions =
	permit_mynetworks
	permit_sasl_authenticated
	reject_unauth_destination
	check_recipient_access		hash:$config_directory/whitelist_recipient
	check_client_access		hash:$config_directory/whitelist_client
	check_client_access		regexp:$config_directory/permit_client_nots25r
	check_policy_service		inet:60000
	check_policy_service		unix:private/policy
	permit

policy_time_limit = 3600
allow_min_user = yes

# Amavis for ClamAV and SpamAssassin
#content_filter =
#	amavis:[127.0.0.1]:10024

#-----------------------------------------------------------