$TTL	<%= @ttl %>	;
; SOA レコード
@		IN	SOA	<%= @nameserver %> <%= @email %> (
			<%= @serial %> ; serial
			<%= @refresh %> ; refresh
			<%= @retry %> ; retry
			<%= @expire %> ; expire
			<%= @minimum %> ; minimum
		)

; NS レコード
<% @ns.each do |nsv| %>
<%= nsv['name'] %>		<%= nsv['ttl'] %>	IN	NS	<%= nsv['host'] %>
<% end %>

; PTR レコード
<% @ptr.each do |ptrv| %>
<%= ptrv['name'] %>		<%= ptrv['ttl'] %>	IN	PTR	<%= ptrv['target'] %>
<% end %>
