$TTL	<%= @ttl %> ;
; SOA レコード
@		IN	SOA  <%= @nameserver %> <%= @email %> (
			<%= @serial %> ; serial
			<%= @refresh %> ; refresh
			<%= @retry %> ; retry
			<%= @expire %> ; expire
			<%= @minimum %> ; minimum
	)

; NS レコード
<% @ns.each do |nsv| %>
<%= nsv['name'] %>		<%= nsv['ttl'] %>	IN	NS	<%= nsv['host'] %>
<% end %>

; TXT レコード
<% @txt.each do |txtv| %>
<%= txtv['name'] %>		<%= txtv['ttl'] %>	IN	TXT	"<%= txtv['value'] %>"
<% end %>

; MX レコード
<% @mx.each do |mxv| %>
<%= mxv['name'] %>		<%= mxv['ttl'] %>	IN	MX	<%= mxv['priority'] %>	<%= mxv['host'] %>
<% end %>

; A レコード
<% @a.each do |av| %>
<%= av['name'] %>		<%= av['ttl'] %>	IN	A	<%= av['target'] %>
<% end %>

; CNAME レコード
<% @cname.each do |cnamev| %>
<%= cnamev['name'] %>		<%= cnamev['ttl'] %>	IN	CNAME	<%= cnamev['target'] %>
<% end %>

