*filter

:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:Firewall-INPUT - [0:0]

-A INPUT -j Firewall-INPUT
-A FORWARD -j Firewall-INPUT
-A Firewall-INPUT -i lo -j ACCEPT
-A Firewall-INPUT -p icmp --icmp-type any -j ACCEPT
-A Firewall-INPUT -p 50 -j ACCEPT
-A Firewall-INPUT -p 51 -j ACCEPT
-A Firewall-INPUT -p udp --dport 5353 -d 224.0.0.251 -j ACCEPT
-A Firewall-INPUT -p udp -m udp --dport 631 -j ACCEPT
-A Firewall-INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A Firewall-INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
<% @list.each do |lst| -%>
<% if lst['protocol'] == "udp" -%>
-A Firewall-INPUT<%= lst['source'] ? ' -s ' + lst['source'] :'' %> -m state --state NEW -m udp -p udp --dport <%= lst['port'] %> -j <%= lst['access'] ? lst['access']:'ACCEPT' %>
<% else -%>
-A Firewall-INPUT<%= lst['source'] ? ' -s ' + lst['source'] :'' %> -m state --state NEW -m tcp -p tcp --dport <%= lst['port'] %> -j <%= lst['access'] ? lst['access']:'ACCEPT' %>
<% end -%>
<% end -%>
-A Firewall-INPUT -j REJECT --reject-with icmp-host-prohibited
COMMIT
