user  nginx;
worker_processes <%= @processes %>;

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

events {
    worker_connections <%= @connections %>;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    log_format  mini  '[$time_local] $remote_addr $status "$request"';

    access_log  /var/log/nginx/access.log  mini;

    sendfile           on;

    keepalive_timeout  65;

    #gzip  on;

    #include /etc/nginx/conf.d/*.conf;

    # Reverse proxy settings
    proxy_headers_hash_max_size      1024;
    proxy_headers_hash_bucket_size   256;
    proxy_set_header Host               $host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Host   $host;
    proxy_set_header X-Forwarded-Server $host;

    proxy_read_timeout               600s;
    proxy_connect_timeout            10s;

    proxy_cache_path /var/cache/nginx/proxy_cache
                     levels=1:2 keys_zone=cache1:15m inactive=1h max_size=100m;
    proxy_temp_path /var/cache/nginx/proxy_temp;

    server {
        listen       <%= @listen %>;
        server_name  <%= @fqdn %>;
        client_max_body_size 5m;

        location / {
            proxy_pass <%= @realserver %>:<%= @realport %>;

            set $do_not_cache 0;
            set $_check 'A';

            if ($http_user_agent ~ '(iPhone|iPod|Opera Mini|Android|NetFront|BlackBerry)') {
                set $_check "${_check}A";
            }

            if ($uri !~* ".(jpg|png|gif|jpeg|css|js|swf|pdf)$") {
                set $_check "${_check}A";
            }

            if ($_check = "AAA") {
                set $do_not_cache 1;
            }

            if ($http_cookie ~* "sid" ) {
                set $do_not_cache 1;
            }

            if ($request_method != GET) {
                set $do_not_cache 1;
            }

            proxy_no_cache        $do_not_cache;
            proxy_cache_bypass    $do_not_cache;

            proxy_connect_timeout 60;
            proxy_read_timeout    60;
            proxy_send_timeout    60;

            proxy_cache cache1;
            proxy_cache_key $scheme$proxy_host$uri$is_args$args;
            proxy_cache_valid  200 10m;
        }
    }

    server {
        listen       <%= @listen_ssl %>;
        server_name  <%= @fqdn %>;
        client_max_body_size 5m;

        ssl                  on;
        ssl_certificate      /etc/nginx/ssl/<%= @fqdn %>.cer;
        ssl_certificate_key  /etc/nginx/ssl/<%= @fqdn %>.key;
        ssl_protocols        TLSv1;
        ssl_ciphers          HIGH:!ADH:!MD5;

        location / {
            proxy_pass <%= @realserver %>:<%= @realport %>;

            set $do_not_cache 0;
            set $_check 'A';

            if ($http_user_agent ~ '(iPhone|iPod|Opera Mini|Android|NetFront|BlackBerry)') {
                set $_check "${_check}A";
            }

            if ($uri !~* ".(jpg|png|gif|jpeg|css|js|swf|pdf)$") {
                set $_check "${_check}A";
            }

            if ($_check = "AAA") {
                set $do_not_cache 1;
            }

            if ($http_cookie ~* "sid" ) {
                set $do_not_cache 1;
            }

            if ($request_method != GET) {
                set $do_not_cache 1;
            }

            proxy_no_cache        $do_not_cache;
            proxy_cache_bypass    $do_not_cache;

            proxy_connect_timeout 60;
            proxy_read_timeout    60;
            proxy_send_timeout    60;

            proxy_cache cache1;
            proxy_cache_key $scheme$proxy_host$uri$is_args$args;
            proxy_cache_valid  200 10m;
        }
    }
}
